---
title: qui suis je
eleventyExcludeFromCollections: true
description: Papa codeur, papa joueur / Acrobate de l'informatique / Parfois je dessine des flèches et des carrés #php #sketchnote
permalink: qui-suis-je.html
---
